In [64]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [65]:
#Win dir
#train = pd.read_csv(r'C:\Users\hrao\Documents\Personal\HK\Python\train.csv')
#

#Mac dir
train = pd.read_csv(r'/Users/Harish/Documents/HK_Work/Python/Machine-Learning/train.csv')
test = pd.read_csv(r'/Users/Harish/Documents/HK_Work/Python/Machine-Learning/test.csv')

In [66]:
train.head(n=3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [67]:
train = train.drop(['Name','SibSp','Parch','Cabin','Ticket'],axis=1)

In [68]:
train.head(n=3)

   PassengerId  Survived  Pclass   Age     Fare
0            1         0       3  22.0   7.2500
1            2         1       1  38.0  71.2833
2            3         1       3  26.0   7.9250

In [69]:
test.head(n=3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [70]:
test = test.drop(['Name','SibSp','Parch','Cabin','Ticket'],axis=1)

In [71]:
test.head(n=3)

   PassengerId  Pclass   Age    Fare
0          892       3  34.5  7.8292
1          893       3  47.0  7.0000
2          894       2  62.0  9.6875

In [72]:
X_train = train.drop("Survived", axis=1)
Y_train = train["Survived"]
X_test  = test.drop("PassengerId", axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape

((891, 4), (891,), (418, 3))

In [73]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, Y_train)
#prediction = lr.predict(X_test)
#accuracy = lr.score(X_train, Y_train)
#accuracy

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').