In [196]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
%matplotlib inline

In [197]:
#Win dir
train = pd.read_csv(r'C:\Users\hrao\Documents\Personal\HK\Python\train.csv')
test = pd.read_csv(r'C:\Users\hrao\Documents\Personal\HK\Python\test.csv')

#Mac dir
#train = pd.read_csv(r'/Users/Harish/Documents/HK_Work/Python/Machine-Learning/train.csv')
#test = pd.read_csv(r'/Users/Harish/Documents/HK_Work/Python/Machine-Learning/test.csv')

In [198]:
train.head(n=3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [199]:
train = train.fillna(0)
test = test.fillna(0)

In [200]:
train = train.drop(['Name','SibSp','Parch','Cabin','Ticket'],axis=1)

In [201]:
train.head(n=3)

   PassengerId  Survived  Pclass     Sex   Age     Fare Embarked
0            1         0       3    male  22.0   7.2500        S
1            2         1       1  female  38.0  71.2833        C
2            3         1       3  female  26.0   7.9250        S

In [202]:
train['Sex'] = train['Sex'].map({'female':1,'male':0})
test['Sex'] = test['Sex'].map({'female':1,'male':0})

In [203]:
train['Embarked'] = train['Embarked'].map({'C':1,'Q':2,'S':3})
test['Embarked'] = test['Embarked'].map({'C':1,'Q':2,'S':3})

In [204]:
train.head(n=3)

   PassengerId  Survived  Pclass  Sex   Age     Fare  Embarked
0            1         0       3    0  22.0   7.2500       3.0
1            2         1       1    1  38.0  71.2833       1.0
2            3         1       3    1  26.0   7.9250       3.0

In [205]:
test = test.drop(['Name','SibSp','Parch','Cabin','Ticket'],axis=1)

In [206]:
test.head(n=3)

   PassengerId  Pclass  Sex   Age    Fare  Embarked
0          892       3    0  34.5  7.8292         2
1          893       3    1  47.0  7.0000         3
2          894       2    0  62.0  9.6875         2

In [207]:
train['Age']=train['Age'].fillna(0)
test['Age']=test['Age'].fillna(0)
train['Embarked']=train['Embarked'].fillna(0)
test['Embarked']=test['Embarked'].fillna(0)

In [208]:
train.to_csv(r'C:\Users\hrao\Documents\Personal\HK\Machine-Learning\train_clean_data.csv')
test.to_csv(r'C:\Users\hrao\Documents\Personal\HK\Machine-Learning\test_clean_data.csv')

In [209]:
X_train = train.drop("Survived", axis=1)
Y_train = train["Survived"]
X_test  = test.drop("PassengerId", axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape

((891, 6), (891,), (418, 5))

In [210]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, Y_train)
prediction = lr.predict(X_test)
accuracy = lr.score(X_train, Y_train)
accuracy

ValueError: X has 5 features per sample; expecting 6